@tailwind base;
@tailwind components;
@tailwind utilities;

/* .animation__blink {
    animation: blink 1.5s infinite !important;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
} */

